@use "./variables" as *;

.analytics-page {
  width: 100%;
  padding: 12px;
  background: $background;
  overflow: auto;

  button {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 0px;
    border: none;
    background: $primary;
    color: $text;
    cursor: pointer;
    transition: background 0.2s;

    &:hover:enabled {
      background: $hovered-primary;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background: $dark-grey;
    border-bottom: 1px solid $grey;
    margin-bottom: 40px;
    max-height: 75vh;
    overflow-y: scroll;
    table-layout: auto;
    display: block;
  }

  th,
  td {
    padding: 10px 20px;
    text-align: left;
    font-size: 14px;

  }

  td {
    white-space: nowrap;

  }

  th {
    background: $primary;
    color: $text;
    font-weight: 400;
    position: sticky;
    top: 0;
    z-index: 2;
    white-space: wrap;
    vertical-align: top;
    box-shadow: 0 2px 0 0 $grey;


  }

  tr {
    transition: background 0.15s;

    &:hover td {
      background: rgb($primary, 0.5) !important;
      color: $text;
    }
  }

  tr.selected-row td {
    background: $secondary !important;
    color: $text;
    font-weight: 300;
  }

  tr:nth-child(even) td {
    background: $medium-grey;
  }

  tr:nth-child(odd) td {
    background: $dark-grey;
  }

  td {
    border-bottom: 1px solid $grey;
  }

  tr:last-child td {
    border-bottom: none;
  }
}