@use "./variables" as *;

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: $page-height;
  overflow: auto;
  color: $text;
  padding-top: 40px;
  padding-bottom: 100px;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0 25px 0 0;
    cursor: pointer;
  }

  &__title {
    font-size: 50px;
    margin-bottom: 0px;
  }
}