@use "./variables" as *;

.jins-manager {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  &__header {
    margin: 20px 0;
    display: flex;
    align-items: center;
  }

  &__selections {
    display: flex;
    align-items: center;
    //font-size: 18px;
    font-weight: bold;
  }

  &__selected-note {
    font-size: 14px;
    background-color: $secondary;
    padding: 5px;
    margin: 0 3px;
    border-radius: 5px;
    cursor: pointer;

    &_unsaved {
      background-color: transparent;
      border: 2px dashed $secondary;
    }
  }

    &__comments-sources-container {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 150px;

  }

  &__comments-english {
    font-size: 14px;
    width: 50%;
    min-height: 80px;
    direction: ltr;
    text-align: left;
    vertical-align: top;
    padding-right: 30px;
    float: left;
  }

  &__comments-arabic {
    font-size: 14px;
    width: 50%;
    min-height: 80px;
    text-align: right;
    direction: rtl;
    vertical-align: top;
    padding-left: 30px;
    float: right;
  }

  &__sources-english {
    font-size: 14px;
    width: 50%;
    min-height: 80px;

    direction: ltr;
    text-align: left;
    vertical-align: top;
    padding-right: 30px;
    float: left;
  }

  &__sources-arabic {
    font-size: 14px;
    width: 50%;
    min-height: 80px;

    text-align: right;
    direction: rtl;
    vertical-align: top;
    padding-left: 30px;
    float: right;
  }


  &__list {
    width: 100%;
    background-color: $black;
    display: grid;
    grid-template-columns: repeat(6, (minmax(250px, 1fr)));
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    height: 225px;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    &::-webkit-scrollbar {
      height: 6px;
      position: relative;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primary;
      cursor: pointer;
      position: relative;
    }

    &::-webkit-scrollbar-track {
      background: $medium-grey;
      cursor: pointer;
      position: relative;
    }
  }

  &__carousel {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    .carousel-button {
      background: none;
      border: none;
      font-size: 30px;
      cursor: pointer;
      color: $text;
      padding: 0px;

      &:hover {
      color: $tertiary;
      transition: background-color 0.2s ease-in-out;
      }

    }

    .carousel-button-prev,
    .carousel-button-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      height: calc(100% - 20px);
      width: 25px;
      background-color: $black;
      &:hover {
        color: $tertiary;
        transition: color 0.1s ease-in-out;
      }

    }

    .carousel-button-prev {
      left: 0;
    }

    .carousel-button-next {
      right: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    color: $text;
    cursor: pointer;
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: 0.1s;

    &_active {
      background-color: rgba($primary, 0.5);
    }

    &:hover {
      background-color: rgba($primary, 1);
    }

    &_selected {
      background-color: $secondary;
    }
  }

  &__item-name {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-weight: 300;

    &-transpositions {
      color: rgba(255, 255, 255,1);
      font-size: 14px;
      margin-top: 3px;
          font-weight: 200;

    }
  }

  &__play-button {
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    gap: 10px;
    color: $primary;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
  }

  &__create-new-jins-button {
    width: fit-content;
    margin: 20px auto;
    font-size: 20px;
    padding: 10px;
    background-color: $secondary;
    border-radius: 5px;
    color: $text;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: 0.1s;

    &:hover {
      background-color: $primary;
    }
  }

  &__jins-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    font-size: 20px;
  }

  &__jins-input {
    padding: 0.4rem;
    font-size: 1rem;
    // border: 1px solid #ccc;
    border-radius: 4px;
  }

  &__save-button,
  &__delete-button,
  &__clear-button {
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
    color: white;

    &:hover {
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }
  }

  &__save-button {
    background-color: $secondary;
  }

  &__delete-button {
    background-color: $delete;
  }

  &__clear-button {
    background-color: $primary;
  }

  &__source-add-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  &__source-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100px;
  }

  &__source-select, &__source-input {
    padding: 5px;
    font-size: 14px;
  }

  &__source-delete-button {
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    background-color: $delete;
    color: white;
    transition: 0.1s;

    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
  }

  &__comments-english {
    font-size: 14px;
    width: 50%;
    min-height: 80px;
    direction: ltr;
    text-align: left;
    vertical-align: top;
    padding-right: 30px;
    float: left;
    margin-bottom: 40px;
  }

  &__comments-arabic {
    font-size: 14px;
    width: 50%;
    min-height: 80px;
    text-align: right;
    direction: rtl;
    vertical-align: top;
    padding-left: 30px;
    float: right;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__group {
    display: flex;
    gap: 0.5rem;
    width: 100%;
  }

  &__label {
    margin-bottom: 0.4rem;
    font-weight: bold;
  }

  &__input,
  &__textarea{
    padding: 0.4rem;
    // font-size: 0.9rem;
    // border: 1px solid #ccc;
    // border-radius: 4px;
    resize: vertical;
  }
}
