.maqam-manager {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  &__header {
    margin: 10px 0;
    display: flex;
    align-items: center;
  }

  &__selections {
    display: flex;
    align-items: center;
    // font-size: 18px;
  }

  &__rows {
    font-size: 18px;
  }

  &__selections-row {
    margin: 10px 0;
  }

  &__selected-note {
    font-size: 14px;
    background-color: $secondary;
    padding: 5px;
    margin: 0 3px;
    border-radius: 5px;
    cursor: pointer;

    &_unsaved {
      background-color: transparent;
      border: 2px dashed $secondary;
    }
  }

  &__toggle-button {
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    color: $primary;

    &:hover {
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }
  }

  &__list {
    display: grid;
    width: 100%;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 14px;
    color: $text;
    cursor: pointer;
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;

    &_active {
      background-color: $primary;
    }

    &_selected {
      background-color: $secondary;
    }
  }

  &__item-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-transpositions {
      color: rgba(255, 255, 255, 0.76);
      font-size: 12px;
      font-style: italic;
      margin-top: 3px;
    }
  }

  &__play-button {
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    gap: 10px;
    color: $primary;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
  }

  &__create-new-maqam-button {
    width: fit-content;
    margin: 20px auto;
    font-size: 20px;
    padding: 10px;
    background-color: $secondary;
    border-radius: 10px;
    color: $text;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;

    &:hover {
      background-color: $primary;
    }
  }

  &__maqam-form {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    font-size: 20px;
  }

  &__maqam-input {
    padding: 0.4rem;
    font-size: 1rem;
    // border: 1px solid #ccc;
    border-radius: 4px;
  }

  &__save-button,
  &__delete-button, &__clear-button {
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    color: white;

    &:hover {
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }
  }

  &__save-button {
    background-color: $secondary;
  }

  &__delete-button {
    background-color: $delete;
  }

  &__clear-button {
    background-color: $primary;
  }
}
