@use "./variables" as *;

.maqam-transpositions {
  width: 100%;
  margin-top: 10px;

  &__title {
    width: 100%;
    background-color: $secondary;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: left;
    padding: 1rem 1rem;
    border: solid 1px $grey;
  }

  &__play-circle-icon.MuiSvgIcon-root {
    //    background-color: $tertiary;
    color: white;
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
    font-size: 24px;
    cursor: pointer;
    vertical-align: middle;
  }

  &__button {
    background-color: rgba($primary, 0.5);
    color: white;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 12px;
    width: 200px;
    height: 40px;
    vertical-align: middle;
    text-align: center;

    &:focus {
      outline: transparent;
      border: white solid 1px;
    }

    &:hover {
      background-color: rgba($primary, 1);
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 200;

    th {
      vertical-align: top;
      margin-bottom: 500px;
      text-align: left;
      padding: 10px;
      border: solid 1px $grey;
      font-weight: 200;
    }
    tr {
      height: 100%;
    }
    td {
      vertical-align: top;
      border: solid 1px $grey;
      height: 100%;
      position: relative; // Optional: helpful if absolute children are used later
    }
  }

  &__transposition-title {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 20px;
  }

  &__transposition-number {
    width: 34px !important;
    font-size: 20px;
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px;
    text-align: center !important;
    background-color: black;

    &_0 {
      background-color: $primary;
    }

    &_1 {
      background-color: $secondary;
    }

    &_2 {
      background-color: $tertiary;
    }
  }

  &__header {
    text-align: left;
    background-color: black;
  }

  &__header-cell {
    text-align: left;
    background-color: transparent;

    &_unique {
      background-color: rgba($primary, 0.5);
    }

    &_highlighted {
      background-color: rgba($tertiary, 0.5) !important;
    }

    &_scale-degrees {
      background-color: $medium-grey;
    }

    &_scale-degrees-number {
      background-color: $medium-grey;
      font-weight: 400;
    }
  }

  &__asc-desc-column {
    font-size: 24px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align: center;
  }

  &__row-header {
    background-color: $medium-grey;
    text-transform: capitalize;
  }

  &__maqam-name-row {
    background-color: black;
    color: white;
    padding: 15px;
  }

  &__input {
    width: 50px;
    font-size: 14px;
    border: 1px solid $text;
    border-radius: 0px;
    resize: vertical;
    padding: 5px;
  }

  &__jins-button {
    width: 100%;
    min-height: 50px;
    padding: 10px;
    border-radius: 0px;
    background-color: rgba($black, 0);
    color: $text;
    font-family: inherit;
    font-weight: inherit;
    font-size: 12px;
    text-align: left;
    display: flex; // Enables flex layout
    align-items: flex-start; // Aligns content to top
    justify-content: flex-start; // (optional) aligns to left horizontally
    cursor: pointer;
    margin-bottom: 0px;
  }

  &__comments-sources-container {
    display: flex;
    justify-content: space-between;
    padding: 0 0px;
  }

  &__sources {
    width: 100%;
    display: flex;
    padding: 10px 0px;
  }

  .maqam-transpositions__spacer {
    padding: 10px;
    border: 0px;
  }
}
