@use "./variables" as *;

.navigation-menu-open-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: transparent;
  color: $text !important;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2001; // Ensure above sidebar
  pointer-events: auto;
}


// Ensure the open button is always above the sidebar
.navigation-menu-card {
  font-size: 18px;
  position: fixed;
  top: 0;
  left: 0;
  width: 288px;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  transform: translateX(-130%);
  transition: transform 0.3s ease-in-out;
  z-index: 2000;

  &--open {
    transform: translateX(0);
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: calc($top-navbar-height - 1px);
    color: $black;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background: $black;
    color: $text;
    font-size: 14px;
  }

  &__link {
    text-decoration: none;
    color: $text !important;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 70px;
    padding: 10px 20px;
    border-top: 1px solid $grey;
    transition: all 0.1s ease-in-out;

    &:visited {
      color: $text !important;
    }


    &:hover {
      background-color: $tertiary;
      color: $text !important;

    }
  }
}