@use "./variables" as *;

.navigation-menu-open-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 300; // Ensure above sidebar
  pointer-events: auto;
}


// Ensure the open button is always above the sidebar
.navigation-menu-card {
  font-size: 18px;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  transform: translateX(-130%);
  transition: transform 0.3s ease-in-out;
  z-index: 10;

  &--open {
    transform: translateX(0);
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: $top-navbar-height;
    color: black;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background: $black ;
    color: white;
  }

  &__link {
    width: 100%;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;

    &:hover {
      background-color: $primary;
    }
  }
}