@use "./variables" as *;

.staff-notation {
  width: 100%;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    overflow: visible !important;
    display: flex;
    justify-content: center;
    align-items: center;
        max-width: 100%;
        min-width: 100%;
        max-height: 340px !important;

  }

  &__svg {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    overflow: visible;
  }

  &-cell {
    text-align: center;
    background: $text !important;
    border: 0px;
    vertical-align: middle;
    overflow: visible;
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    .staff-notation-cell {
      padding: 8px 4px;
    }
  }

  /* Print Styles */
  @media print {
    .clef-select {
      display: none;
    }

    .staff-notation__svg {
      max-width: 100%;
      height: auto;
    }
  }

}