@use "sass:color";

$top-navbar-height: 140px;
$bottom-navbar-height: 60px;
$page-height: calc(100svh - $top-navbar-height - $bottom-navbar-height);

$background: #222222;
$primary: #788a94;
$secondary: #9bb6c49a;
$tertiary: #81adc3;
$quaternary: #4569b6;
$black: #000000;
$text: #ffffff;
$success: #28a745;
$delete: #C62300;
$disabled: #3b3b3b;
$dark-grey: #222222;
$medium-grey: #333333;
$grey: #555555;
$light-grey: #f0f0f0;

$hovered-primary: color.adjust($primary, $lightness: 10%);
$hovered-secondary: color.adjust($secondary, $lightness: -10%);
$hovered-tertiary: color.adjust($tertiary, $lightness: 10%);
$hovered-success: color.adjust($success, $lightness: -10%);
$hovered-delete: color.adjust($delete, $lightness: -10%);
$hovered-disabled: color.adjust($disabled, $lightness: -10%);

$main-gradient: linear-gradient(0deg, $dark-grey, $dark-grey);