@use "sass:color";

$top-navbar-height: 75px;
$bottom-navbar-height: 55px;
$page-height: calc(100svh - $top-navbar-height - $bottom-navbar-height - 30px);

$background: #222222;
$primary: #5a2585;
$secondary: #83105d;
$tertiary: #a4079c;
$quaternary: #9b7a0c;
$gold:      #d4af37; // Gold (optional accent)
$black: #000000;
$text: #eeeeee;
$success: #28a745;
$delete: #C62300;
$disabled: #3b3b3b;
$dark-grey: #222222;
$medium-grey: #333333;
$grey: #555555;
$light-grey: #dddddd;

$hovered-primary: color.adjust($primary, $lightness: 10%);
$hovered-secondary: color.adjust($secondary, $lightness: -10%);
$hovered-tertiary: color.adjust($tertiary, $lightness: 10%);
$hovered-success: color.adjust($success, $lightness: -10%);
$hovered-delete: color.adjust($delete, $lightness: -10%);
$hovered-disabled: color.adjust($disabled, $lightness: -10%);

$main-gradient: linear-gradient(0deg, $dark-grey, $dark-grey);