@use "sass:color";

$top-navbar-height: 100px;
$bottom-navbar-height: 55px;
$page-height: calc(100svh - $top-navbar-height - $bottom-navbar-height);

$background: #222222;
$primary:   #1f548d; // Lapis Lazuli (deep blue)
$secondary: #144f4f; // Fairuz (turquoise)
$tertiary:  #236944; // Malachite (green)
$quaternary: #349d65; // Carnelian (deep red)
$gold:      #d4af37; // Gold (optional accent)
/* $primary: #5a2585;
$secondary: #83105d;
$tertiary: #a4079c;
$quaternary: #4569b6; */
$black: #000000;
$text: #eeeeee;
$success: #28a745;
$delete: #C62300;
$disabled: #3b3b3b;
$dark-grey: #222222;
$medium-grey: #333333;
$grey: #555555;
$light-grey: #dddddd;

$hovered-primary: color.adjust($primary, $lightness: 10%);
$hovered-secondary: color.adjust($secondary, $lightness: -10%);
$hovered-tertiary: color.adjust($tertiary, $lightness: 10%);
$hovered-success: color.adjust($success, $lightness: -10%);
$hovered-delete: color.adjust($delete, $lightness: -10%);
$hovered-disabled: color.adjust($disabled, $lightness: -10%);

$main-gradient: linear-gradient(0deg, $dark-grey, $dark-grey);