@use "../styles/variables.scss" as *;
@use "../styles/home-page.scss";
@use "../styles/tuning-system-manager.scss";
@use "../styles/settings-card.scss";
@use "../styles/jins-manager.scss";
@use "../styles/jins-transpositions.scss";
@use "../styles/maqam-manager.scss";
@use "../styles/sayr-manager.scss";
@use "../styles/maqam-transpositions.scss";
@use "../styles/navbar.scss";
@use "../styles/sources-manager.scss";
@use "../styles/source-details-page.scss";
@use "../styles/patterns-manager.scss";


:root {
  display: flex;
  justify-content: center;
  background: $main-gradient;
  overscroll-behavior: none;
}
html {
  overflow-y: scroll
}

body {
  font-family: var(--font-inter), Arial;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100svh;
  overscroll-behavior: none;
  background-color: $background;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
}

input, textarea, select {
  background-color: #000;
  color: #f0f0f0;
  border: 0px;
  border-radius: 5px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
  background-color: white;
  color: black;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overscroll-behavior: none;
  position: relative;
  width: 100%;

  & > * {
    width: 100%;
  }
}