$navbar-height: 50px;
$page-height: calc(100svh - $navbar-height);

$primary: #610C9F;
$secondary: #940B92;
$tertiary: #FAC67A;
$quaternary: #4569b6;
$text: #ffffff;
$success: #28a745;
$delete: #C62300;
$disabled: #3b3b3b;
$dark-grey: #222222;
$medium-grey: #333333;
$grey: #555555;
$light-grey: #f0f0f0;

$hovered-primary: lighten($primary, 10%);
$hovered-secondary: darken($secondary, 10%);
$hovered-tertiary: lighten($tertiary, 10%);
$hovered-success: darken($success, 10%);
$hovered-delete: darken($delete, 10%);
$hovered-disabled: darken($disabled, 10%);

$main-gradient: linear-gradient(0deg, $dark-grey, $dark-grey);

@import "../styles/home-page.scss";
@import "../styles/tuning-system-manager.scss";
@import "../styles/audio-settings-card.scss";
@import "../styles/jins-manager.scss";
@import "../styles/jins-transpositions.scss";
@import "../styles/maqam-manager.scss";
@import "../styles/seir-manager.scss";
@import "../styles/maqam-transpositions.scss";
@import "../styles/navbar.scss";
@import "../styles/sources-page.scss";
@import "../styles/source-details-page.scss";

:root {
  display: flex;
  justify-content: center;
  background: $main-gradient;
  overscroll-behavior: none;
}

body {
  font-family: var(--font-inter), Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100svh;
  overscroll-behavior: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
}

input, textarea, select {
  background-color: #000;
  color: #f0f0f0;
  border: 0px;
  border-radius: 5px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
  background-color: white;
  color: black;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overscroll-behavior: none;
  position: relative;
  width: 100%;

  & > * {
    width: 100%;
  }
}